<h3>MyComp</h3>


@code {
    public int error;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(1000);

        error++;
        throw new Exception("aaa");

    }
}
